/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{
	float: left;
    left: 155px !important;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;

}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;background: url("../images/slideCircleButton.png") no-repeat;overflow: hidden;width: 9px;height: 9px;text-indent: -9999px;padding-left: 5px;}
ol.bjqs-markers li.active-marker a{
	background: url("../images/slideCircleButton-Hover.png") no-repeat;
	
}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}